# 编译产物
bin/
build/
lib/

# Visual Studio
*.user
*.suo
*.sln.docstates
*.sdf
*.opensdf
*.vcxproj.user
*.vcxproj.filters.user
Debug/
Release/
x64/

# Python
__pycache__/
*.pyc
*.pyo

# 根目录 CMakeLists（本地配置，不跟踪）
/CMakeLists.txt

# 其他
.DS_Store
.vscode/
